# [기출예제]  
23년3회 실기 
1. 다음Python 프로그램과 그<실행결과>를분석하여괄호에들어갈알맞은예약어를쓰시오.  
첫번째라인의'5 10'은입력받은값에해당한다.

<실행결과>  
x, y의 값을공백으로구분하여입력: 5 10  
x의값: 5  
y의값: 10

23년2회실기  
2. 다음파이썬코드에서알맞는출력값을작성하시오.  
```python
a = "engineer information processing"  
b = a[:3]
c = a[4:6]
d = a[28:]
e=b+c+d
print(e)
```

23년1회실기  
3. 다음파이썬코드에서알맞는출력값을작성하시오.  
```python
a = {'한국', '중국', '일본'}
a.add('베트남')
a.add('중국')
a.remove('일본')
a.update({'홍콩', '한국', '태국'})
print(a)
```

22년3회실기  
4. 다음파이썬코드에대한출력값을작성하시오.
```python
TestList = [1, 2, 3, 4, 5]
TestList = list(map(lambda num : num + 100, TestList))

print(TestList)
```

22년2회실기  
5. 다음파이썬코드에대한출력값을작성하시오.
```python
a = "REMEMBER NOVEMBER"
b = a[:3] + a[12:16]
c = "R AND %s" % "STR"
print(b+c)
```

22년1회실기  
6. 다음파이썬코드에대한출력값을작성하시오.
```python
def exam(num1, num2=2)
    print('a=', num1, 'b=', num2)
exam(20)
```

21년3회실기  
7. 다음파이썬코드에대한출력값을작성하시오.
```python 
a, b = 100, 200
print(a==b)
```

21년2회실기  
8. 다음파이썬코드에대한출력값을작성하시오.
```python 
a = 100
result = 0
for i in range(1, 3):
    result = a >> i
    resi;t = result + 1
print(result)

21년1회실기  
9. 다음파이썬코드에대한출력값을작성하시오.
```python
class good:
    li = ['seoul', 'kyeonggi', 'inchon', 'daejeon', 'daegu', 'pusan']

g = good()
str01 = ''
for i in g.li:
    str01 = str01 + i[0]

print(str01)
```

20년4회 실기  
10. 다음파이썬코드에대한출력값을작성하시오.
```python
lol = [[1,2,3], [4,5], [6,7,8,9]]
print(lol[0])
print(lol[2][1])
for sub in lol:
    for item in sub:
        print(item, end = '')
    print()
```

20년2회실기  
11. 다음파이썬코드에대한출력값을작성하시오.
```python 
a={'일본','중국','한국'}
a.add('베트남')
a.add('중국')
a.remove('일본')
a.update(['홍콩','한국','태국'])
print(a)
```